:root {
    /* THEME */
    --blue-00: #1d3d72;
    --blue-10: #224785;
    --blue-20: #265298;
    --blue-30: #2b5cab;
    --true-blue: #3066beff;
    --lighter-blue: #3b7acc;
    --blue-60: #5985cb;
    --blue-70: #6e94d2;
    --blue-80: #83a3d8;

    /* Monotone */
    --black: #000000ff;
    --white: #ffffff;

    /* Palette */
    --celadon: #a0e8afff;
    --periwinkle-crayola: #c6d2edff;
    --desert-sand: #ddbea8ff;

    /* Details */
    --bg: #22272e;
    --sidebar-bg: #191919;
    --c-bg: #1d1d1d;
    --c-text: #d1d5db;
    --c-bg-scrollbar: #171717;
    --c-bg-light: #2b313a;
    --c-border: rgba(255, 255, 255, 0.05);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
}
body {
    font-size: 16px;
    /*background-color: var(--c-bg);*/
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
}
html {
    overflow-y: auto;
    /*background-color: var(--c-bg);*/
    height: 100%;
    width: 100%;

}
*, *:before, *:after {
    box-sizing: border-box;
}
/* Code Element */

.code-wrapper {
    color: var(--c-text);
    background-color: var(--bg);
    width: 30rem;
    height: 6rem;
    border-radius: 6px;
}
.navbar ul li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    font-weight: 700;
    font-size: 0.85em;
}
.nav-item:hover {
     cursor: pointer;
}
.nav-item {
    background-color: transparent;
    color: var(--c-text);
    margin-left: 10px;
    font-weight: 700;
    font-size: 0.95em;
    border: transparent;
    line-height: 2em;
}
.nav-item.active {
    border-bottom: thin solid var(--blue-30);
}
code {
    font-size: 0.85em;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: 500;
    color: #fff;
    padding: 10px;
}
span {
    color: var(--true-blue);
}
.code-group-item {
    display: none;
    width: 100%;
    height: 100%;
}
.code-group-item.active {
    display: block;
}
div[class*=language-].ext-sh:before {
    content: "sh";
}
div[class*=language-].ext-sh:before {
    position: absolute;
    top: 3.5em;
    left: 28rem;
    font-size: 0.75em;
    color: #9e9e9e;
}

/* Dropdown Element */
.dropdown-menu {
    padding: 10px;
    margin: 200px 500px;
    width: 15rem;
    height: 4rem;
    opacity: 0.5;
    border: 0;
    -webkit-appearance: none;
    border-radius: 10px;
    transition: 0.5s ease;
}
.dropdown-menu::placeholder {
    color: var(--c-bg-light);
    text-transform: capitalize;
    font-weight: 600;
}
.dropdown-menu::selection {
    background-color: var(--blue-80);
}
.dropdown-menu:focus {
    opacity: 1;
    border: 0;
    -webkit-appearance: none;
    background-color: var(--blue-60);
    color: var(--c-bg-light);
    font-weight: 600;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/
    box-shadow: 9px 9px 10px 0 var(--blue-00);
    outline:none !important;
}
.dropdown-menu::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 15px;
    margin-left: .4em;
    height: 15px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    border-radius: 100px;
    background-color: var(--true-blue);
    color: var(--lighter-blue)
}

